.container{
    margin-top: 2px;
    margin-left: 4px;
    padding: 20px 40px;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 24px;
    font-weight: 700;
}
.itemCard{
    border-radius: 10px;
    border:1px solid rgb(234, 232, 241);
    padding: 12px;
}
.itemHeading{
    display: flex;
    flex-direction: column;
    height: 60px;
}
.itemName{
    font-size: 14px;
    color: rgb(164, 168, 168);
}
.brand{
    font-size: 14px;
    font-weight: 500;
    color:#000;
}
.itemImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.image1{
    object-fit: contain;
    max-height: 200px;
}
img{
    cursor:pointer;
}
.itemGrid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(70px,auto);
    gap:30px;
}
.itemFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:0 10px;
}
.itemPrice{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
}
.priceTitle{
    color: rgb(81, 84, 85);
    font-size: 12px;
    font-weight: 600;
}
.footerImages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footerUnitImg{
    max-height: 50px;
    max-width: 60px;
    border-radius: 10px;
    margin-left: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropDownBtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
  }
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdownContent option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownContent option:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropDownBtn {
    background-color: rgb(234, 238, 240);
  }